.log-main{
    width: 1050px;
    margin-top: 90px;
    margin-bottom: 60px;
    position: relative;
    text-align: center;
    width: 100%;
}
.log-ment{
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
}
.input-ip {
    margin-top: 30px;
}
.input-div-id{
    position: relative;
}
.input-p-id{
    padding: 0 11px 1px 15px;
    height: 54px;
    font-size: 20px;
    font-weight: 400;
}
.input-div-pw{
    position: relative;
    margin: 10px;
}
.input-p-pw{
    padding: 0 11px 1px 15px;
    height: 54px;
    font-size: 20px;
    font-weight: 400;
}
.find{
    float: right;
    display: flex;
}
.find_id{
    float: left;
    align-items:flex-start;
}
.find_pw{
    align-items:flex-end;
}
.log-in{
    padding: 0 11px 1px 15px;
    height: 54px;
    font-size: 20px;
    font-weight: 400;
}
.sign-in{
    padding: 0 11px 1px 15px;
    height: 54px;
    font-size: 20px;
    font-weight: 400;
}