/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

/* start */
#header_advertisement {
    height: 42px;
    max-width: 100%;
    background: #5F0080;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.header_advertisement_ment {
    font-size: 14px;
    color: #FFFF;
}

#header {
    height: 100px;
    position: relative;
    padding-top: 36px;
    width: 1050px;
    margin: auto;
}
#user_id_serv {
    position: absolute;
    max-width: 100%;
    right: 0px;
    top: 0px;
    z-index: 20;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    padding-top: 10px;
    /* border: 1px solid black; */
}

#sign_up {
    display: block;
    color: rgb(95, 0, 128);
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#spec {
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
#head_content_1 {
    flex: 0 0 82px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    /* border: 1px solid black; */
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}
#market_kurly {
    margin: 20px 5px 20px 18px;
    color: rgb(95, 0, 128);
}
#spec_b {
    width: 1px;
    height: 13px;
    margin: 20px 5px;
    background-color: rgb(217, 217, 217);

}
#beauty {
    margin: 20px 5px;
}

#ser_div {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 325px;
    top: 7px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247 247 247) 0px 0px 0px 1px inset;
    box-sizing: border-box;
    margin: 0;
}

#ser {
    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    color: #333;
    box-sizing: border-box;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}
#ser_button {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 3px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0px 0px no-repeat;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    border-radius: 0;
    font-size: 14px;
    color: #333;
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    border: none;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;

}

#grap_box{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 11px;
}
#gps {
    width: 36px;
    height: 36px;
    margin-right: 20px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) 50% 50% no-repeat;
    cursor: pointer;

}
#heart {
    width: 36px;
    height: 36px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==) 50% 50% no-repeat;
    cursor: pointer;
    margin-right: 20px;
}
#cart {
    display: block;
    width: 36px;
    height: 36px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
    cursor: pointer;
}
#navigation_var {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin-top: 20px;
    margin-bottom: 0px;
    /* position: fixed; */
    box-shadow: rgb(0 0 0 / 7%) 0px 0px 0px 0px;
}
#navigation {
    display: flex;
    justify-content: space-between;
}
#drawer_cate {
    display: flex;
    cursor: pointer;
}
#drawer {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==) 0px 0px no-repeat;
    width: 16px;
    height: 14px;
    margin-right: 14px;
}
#cate {
    color: #5F0080;
}
.nav {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 150px;
    height: 55px;
    /* padding-top: 18px; */
    line-height: 20px;
    text-align: center;
    height: fit-content;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.imfo_shipping {
    margin-top: -5px;
    height: 16px;
    padding: 5px 16px;
    border-radius: 18px;
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    /* letter-spacing: -0.32px; */
    cursor: pointer;
}
.p_font {
    font-weight: 500;
    color: rgb(95, 0, 128);
}
.main_banner_image {
    margin-top: 20px;
    width: 100%;
    min-width: 1050px;
    height: 370px;
    object-fit: cover;
}
#main_2 {
    width: 1050px;
    margin: 80px 0px 80px 0px;
    padding: 40px 0px;
    position: relative;
}
#recommand_ment_1 {
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
}
#recommand_ps_1 {
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    /* flex-wrap: wrap; */
}
.ps_1 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 8px;
    object-fit: cover;
    vertical-align: top;
    max-height: 100%;
}
img {
    object-fit: cover;
    vertical-align: top;
    max-width: 100%;
}
#main {
    width: 1050px;
    margin: auto;
    position: relative;
}
#main_4 {
    display: flex;
    width: 1050px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 80px 0px;
}
#recommand_ment_2 {
    width: 249px;
    padding-right: 180px;
}
.sp_price {
    font-size: 28px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.26px;
    margin-bottom: 10px;
}
.price_24 {
    font-size: 16px;
    color: rgb(153, 153, 153);
    font-weight: normal;
    line-height: 1.3;
    letter-spacing: normal;
    margin-bottom: 24px;
}
.than_late {
    font-size: 14px;
    color: rgb(204, 204, 204);
    font-weight: normal;
    line-height: 1.43;
    letter-spacing: -0.4px;
    margin-top: 32px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.about {
    font-size: 14px;
    font-weight: 400;
    color: rgb(153, 153, 153);
    margin-bottom: 8px;
    line-height: 1.38;
    word-break: break-word;
}
.goods {
    font-size: 16px;
    line-height: 1.45;
    color: rgb(51, 51, 51);
    font-weight: 400;
    margin-bottom: 6px;
}
.discount-rate {
    font-size: 20px;
    margin-right: 7px;
    font-weight: 800;
    line-height: 1.5;
    white-space: nowrap;
    color: rgb(250, 98, 47);
}
.sales-price {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    white-space: nowrap;
}
.dimmed-price {
    margin-left: 6px;
    color: rgb(181, 181, 181);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: line-through;
    margin-top: 2px;
}
.main_4_item {
    padding: 8px;
}
#main_goods_1 {
    display: flex;
}
.main_p {
    margin-top: 40px;
    width: 430px;
    height: 552px;
    background: url(https://img-cf.kurly.com/shop/data/goods/158201556923l0.jpg) 0% 0% / cover, url(https://res.kurly.com/_next/static/images/noimg-150x195-2c819ff….svg) 50% 50% / contain no-repeat rgb(245, 245, 245);
}